# Virtual Environment
.venv/
venv/
env/
bin/
lib/
share/
include/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Model artifacts and binary files
models/
*.pkl
*.npy
*.pkl.npy

# OS specific files
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/
src/__pycache__/linear_regression.cpython-313.pyc
*.pyc
*.pyc
